<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
  <h1>Home Page</h1>
  <h2>This site is currently undergoing maintainance, We will be back soon!</h2>
</body>
</html>
