<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
  {{> heading}}
  <p>{{message}}</p>
  <p>My only project is deploying a node app to heroku server!</p>
  {{> footer}}
</body>
</html>
